@{
    ViewData["Title"] = "Ricardox Page - ASP.NET Core MVC";
}

<h1>@ViewData["Title"]</h1>

<p>
    "Ricardox Page" es un sitio web construido utilizando ASP.NET Core MVC, Razor Pages y Entity Framework. El desarrollo se basó en un video tutorial creado por "Código Estudiante", donde se exploran conceptos avanzados de desarrollo web.
</p>

<p>
    Este proyecto se enfocó en la implementación de un sistema robusto utilizando el patrón Modelo Vista Controlador (MVC) proporcionado por ASP.NET Core. Además, se aprovechó el uso de Razor Pages para simplificar la creación de interfaces de usuario dinámicas y Entity Framework para la interacción con la base de datos.
</p>

<p>
    Para la persistencia de datos, se utilizó una base de datos SQL Server. Para gestionar esta base de datos, se empleó un contenedor Docker con una imagen ISO de SQL Server. El diseño y desarrollo del esquema de la base de datos se llevó a cabo dentro del entorno de trabajo de DBeaver, permitiendo una administración eficiente y completa de la base de datos.
</p>

<p>
    Este proyecto proporciona una visión integral sobre cómo construir una aplicación web completa utilizando tecnologías modernas de desarrollo web, siguiendo las prácticas recomendadas y aprovechando herramientas poderosas para la implementación y gestión de la base de datos.
</p>
